[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/themes/anatole"]
	path = themes/themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "public"]
	path = public
	url = https://github.com/alexsieusahai/alexsieusahai.github.io
[submodule "public/alexsieusahai.github.io"]
	path = public/alexsieusahai.github.io
	url = https://github.com/alexsieusahai/alexsieusahai.github.io
[submodule "alexsieusahai.github.io"]
	path = alexsieusahai.github.io
	url = https://github.com/alexsieusahai/alexsieusahai.github.io
